@page "/"
@using PizzaPlace.Models;

<h1>Our Selection of Pizzas</h1>


@foreach (var item in State.Menu.Pizzas)
{
<div class="row">

    <div class="col">
        @item.Name
    </div>
    <div class="col">
        @item.Price
    </div>
    <div class="col">
        <img src="@SpicinessImage(item.Spiciness)" alt="item.Spiciness" />
    </div>
    <div class="col">
        <button class="btn btn-success" @onclick="(() => AddToBasket(item))">Add</button>
    </div>

</div>
}



@functions
{

    private string SpicinessImage(Spiciness spiciness)
        => $"images/{spiciness.ToString().ToLower()}.png";

    private State State { get; } = new State()
    {
        Menu = new Menu
        {
            Pizzas = new List<Pizza>
                {
                    new Pizza(1, "Perporoni", 8.99M, Spiciness.Spicy),
                    new Pizza(2, "Margarita", 7.99M, Spiciness.None),
                    new Pizza(3, "Diablo", 9.99M, Spiciness.Hot)
                }
        }

    };

    public void AddToBasket(Pizza pizza)
    {
        Console.WriteLine($"Added a pizza {pizza.Name}");
        State.Basket.Add(pizza.Id);
    }

}